<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderMapper">
    <insert id="createOrder" keyProperty="id" useGeneratedKeys="true">
        insert into orders (user_id,start_latitude,start_longitude,end_latitude,end_longitude,start_address,end_address,status,version)
        values (#{userId},#{startLatitude},#{startLongitude},#{endLatitude},#{endLongitude},#{startAddress},#{endAddress},#{status},#{version})
    </insert>
    <update id="receiveOrder">
        update orders set
            driver_id = #{driverId},
            status = 1,
            version = version + 1
        where id = #{id} and version = #{version}
    </update>
    <select id="checkOrderById" resultType="com.example.demo.pojo.Order">
        select * from orders where id = #{orderId};
    </select>
    <select id="checkOrder" resultType="com.example.demo.pojo.Order">
        select * from orders where status = 0 limit #{page},14;
    </select>
    <update id="changeStatusById">
        update orders set
            status = #{status}
        where id = #{id}
    </update>
</mapper>