<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="checkUserByUsername">
        select * from user where username = #{username}
    </select>
    <select id="checkUserByPhone">
        select * from user where phone = #{phone}
    </select>
    <insert id="register">
        insert into user (username,password) values (#{username},#{password})
    </insert>
    <select id="select" resultType="com.example.demo.pojo.User">
        select * from user
        <where>
            role != 0
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="role != null">
                and role = #{role}
            </if>
        </where>
        limit #{page},14
    </select>
    <select id="getSelectCount">
        select count(*) from user
        <where>
            role != 0
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="role != null">
                and role = #{role}
            </if>
        </where>
    </select>
    <update id="changeStatus">
        update user set
            status = #{status}
        where id = #{id}
    </update>
    <update id="changeUpdateTime">
        update user set
            update_time = #{now}
        where id = #{id}
    </update>
    <update id="changePasswordByCode">
        update user set
            password = #{password}
        where phone = #{phone}
    </update>
    <select id="checkUserById" resultType="com.example.demo.pojo.User">
        select * from user where id = #{id}
    </select>
</mapper>